<section class="page-section bg-primary mastsect" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Doresti sa aflii mai multe despre noi?</h2>
                <hr class="divider light my-4" />
            </div>
        </div>
        <div class="container container-position">
            <mat-card>
                <mat-icon>done_outline</mat-icon> Ma numesc Dima Ionut, sunt din Galati si am 23 de ani, am studiat
                "mestesugurile" scrierii
                unui cod organizat, unui algoritm bine gandit si a unei logici puternice la Facultatea de Informatica
                din
                cadrul Universitatii "Al. Ioan Cuza" Iasi.
            </mat-card>

            <mat-card>
                <mat-icon>done_outline</mat-icon> Am pornit la drum in realizarea acestui proiect impreuna cu domnul
                profesor Lect. Dr. Olariu Emanuel Florentin din cadrul Facultatii de Informatica deoarece am considerat
                ca in Romania inca nu exista o aplicatie care sa vina in ajutorul oamenilor ce necesita transplant
                renal.
            </mat-card>

            <mat-card>
                <mat-icon>done_outline</mat-icon> Aceasta aplicatie foloseste tehnologii actuale precum Angular 9
                acoperind partea de front-end si Java Spring acoperind partea de back-end, am considerat ca acest gen de
                aplicatie are nevoie de o interfata interactiva si prietenoasa cu utilizatorul iar Framework-ul
                Angular o ofera, si tot odata este nevoie de un back-end stabil si capabil sa poate sustine un algorim
                care va prelucra un numar considerabil de date, dar si sa gestioneze un numar mare de date.
            </mat-card>




        </div>
    </div>

</section>