<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

<section class="page-section bg-primary mastsect" id="helpDonating">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Ajuta-ti un membru al familiei, un prieten sau orice persoana doresti
                    inscriindu-te pe platforma noastra si donandu-ti rinichiul!</h2>
                <hr class="divider light my-4" />
            </div>
        </div>

        <div class="container container-position">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="container-card">
                            <h4 href="#services" routerLinkActive="active">Inscrie-te si pregateste-te sa ajuti un
                                <u>membru al familiei</u> oferindu-i o viata mai
                                buna!</h4>
                            <a class="btn btn-light btn-xl js-scroll-trigger center-btn-1" href="#services"
                                (click)="openDialog('family')">Ajuta si
                                doneaza!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="container-card">
                            <h4>Inscrie-te si pregateste-te sa ajuti un <u>prieten</u> oferindu-i o viata mai
                                buna! </h4>
                            <a class="btn btn-light btn-xl js-scroll-trigger center-btn" href="#services"
                                (click)="openDialog('friend')">Ajuta si
                                doneaza!</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4">
                    <div class="card">
                        <div class="container-card">
                            <h4>Inscrie-te si pregateste-te sa ajuti <u>orice persoana</u> oferindu-i o
                                viata mai
                                buna! </h4>
                            <a class="btn btn-light btn-xl js-scroll-trigger center-btn" href="#services"
                                (click)="openDialog('any')">Ajuta si
                                doneaza!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>