<mat-card class="card">
    <mat-card-title style="text-align:center;">Inscriete <b><u>impreuna cu donatorul tau</u></b>!</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" #tabGroup>
        <mat-tab label="Primitor">
            <mat-card-content color="primary">
                <form class="">

                    <table class="full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="full-width">
                                    <mat-label>Nume</mat-label>
                                    <input matInput required name="name" [(ngModel)]="lastNamePatient" #name="ngModel">
                                    <mat-error *ngIf="name.invalid">Name is required</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="full-width">
                                    <mat-label>Prenume</mat-label>
                                    <input matInput required name="firstName" [(ngModel)]="firstNamePatient"
                                        #firstName="ngModel">
                                    <mat-error *ngIf="firstName.invalid">First Name is required</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <table class="full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="full-width">
                                    <mat-label>Adresa de email</mat-label>
                                    <input matInput placeholder="Ex: nume.prenume@gmail.com" required name="email"
                                        [(ngModel)]="emailPatient" #email="ngModel">
                                    <mat-error *ngIf="email.invalid">Email is required</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="full-width">
                                    <mat-label>Orasul</mat-label>
                                    <input matInput placeholder="Ex: Iasi" required name="city"
                                        [(ngModel)]="cityPatient" #city="ngModel">
                                    <mat-error *ngIf="city.invalid">City is required</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>

                    <section class="example-section full-width">
                        <label class="">Grupa de sange:</label>
                        <mat-radio-group [(ngModel)]="grupaSangeValoarePatient" name="grupaSange" #grupaSange="ngModel">
                            <mat-radio-button value="0">Grupa 0</mat-radio-button>
                            <mat-radio-button value="A">Grupa A</mat-radio-button>
                            <mat-radio-button value="B">Grupa B</mat-radio-button>
                            <mat-radio-button value="AB">Grupa AB</mat-radio-button>
                        </mat-radio-group>
                    </section>

                    <button mat-raised-button color="primary" class="login-button only-login-btn"
                        (click)="tabGroup.selectedIndex=1">
                        Inregistreaza si donatorul
                    </button>

                    <button mat-raised-button class="login-button" mat-dialog-close>
                        Anulare
                    </button>
                </form>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Donator">
            <mat-card-content color="primary">
                <form class="">

                    <table class="full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="full-width">
                                    <mat-label>Nume</mat-label>
                                    <input matInput required name="name" [(ngModel)]="lastNameDonor" #name="ngModel">
                                    <mat-error *ngIf="name.invalid">Name is required</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="full-width">
                                    <mat-label>Prenume</mat-label>
                                    <input matInput required name="firstName" [(ngModel)]="firstNameDonor"
                                        #firstName="ngModel">
                                    <mat-error *ngIf="firstName.invalid">First Name is required</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <table class="full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="full-width">
                                    <mat-label>Adresa de email</mat-label>
                                    <input matInput placeholder="Ex: nume.prenume@gmail.com" required name="email"
                                        [(ngModel)]="emailDonor" #email="ngModel">
                                    <mat-error *ngIf="email.invalid">Email is required</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="full-width">
                                    <mat-label>Orasul</mat-label>
                                    <input matInput placeholder="Ex: Iasi" required name="city" [(ngModel)]="cityDonor"
                                        #city="ngModel">
                                    <mat-error *ngIf="city.invalid">City is required</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>

                    <section class="example-section full-width">
                        <label class="">Grupa de sange:</label>
                        <mat-radio-group [(ngModel)]="grupaSangeValoareDonor" name="grupaSange" #grupaSange="ngModel">
                            <mat-radio-button value="0">Grupa 0</mat-radio-button>
                            <mat-radio-button value="A">Grupa A</mat-radio-button>
                            <mat-radio-button value="B">Grupa B</mat-radio-button>
                            <mat-radio-button value="AB">Grupa AB</mat-radio-button>
                        </mat-radio-group>
                    </section>

                    <button mat-raised-button color="primary" class="login-button only-login-btn" mat-dialog-close
                        (click)=togetherRegistation()>
                        Inregistrare pereche pacient + donator
                    </button>

                    <button mat-raised-button class="login-button" mat-dialog-close>
                        Anulare
                    </button>
                </form>
            </mat-card-content>
        </mat-tab>
    </mat-tab-group>
</mat-card>