<section class="page-section bg-primary mastsect" id="registerPatients">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="text-white mt-0">Medicul te-a diagnosticat cu <b>insuficienta renala</b>? Din fericire,
                    exista o
                    solutie mai buna decat listele de asteptare interminabile, inscrie-te pe platforma noastra si
                    intr-o perioada destul de scurta este posibil sa gasesti un donator disponibil!</h2>
                <hr class="divider light my-4" />

                <div class="container container-position">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="container-card">
                                    <h4>Ai deja o persoana disponibilă să <u>îți doneze rinichiul</u> său, dar nu
                                        sunteți compatibili? <u>Inscriți-vă împreuna și santele să găsești un donator
                                            compatibil vor creste</u>!</h4>
                                    <a class="btn btn-light btn-xl js-scroll-trigger center-btn-1" href="#services"
                                        (click)="openDialogTogether()">Înscriți-vă împreuna!</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="container-card">
                                    <h4 class="h4-2">Nu ai gasit inca <u>nici un donator disponibil</u>, care sa te
                                        ajute in drumul
                                        spre o viata mai calitativa? Nu iti pierde speranta si inscrie-te pe platforma
                                        noastra marindu-ti santele spre gasirea unui donator compatibil!</h4>
                                    <a class="btn btn-light btn-xl js-scroll-trigger center-btn" href="#services"
                                        (click)="openDialogPatient()">Înscrie-te si mareste-ți șanțele!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>