section.mastsect {
    /* padding-top: 10rem; */
    padding-bottom: 10rem;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../../assets/img/work_in_progress.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
 }

 section.mastsect h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  section.mastsect {
    height: 120vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  section.mastsect p {
    font-size: 1.15rem;
  }
  section.mastsect h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  section.mastsect h1 {
    font-size: 3.5rem;
  }
}

.container-position {
  position: relative;
  margin-left: 1rem;
}